html {
	box-sizing: border-box;
	// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice*/
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
	body {
		> *{   // nav-menu, header, ui-view, footer
			position: relative;
		}
		* {box-sizing: border-box;}
		a {text-decoration: none;}
	} 
}
