// -----------------------------------------------------------------------------
// Button Styles

// -----------------------------------------------------------------------------

button{
	border: none;
	background: transparent;
	padding: 0;
	font-family: "ShermanSans-Book";
	font-size: 1.25rem;
}

.content button{
	background: $suorange;
	height: 65px;
	@include flex(column, align-center, justify-center);
	color: white;
	width: 100%;
	text-transform: uppercase;
	font-family: "ShermanSans-Book";
	font-weight: 900;
	letter-spacing: .15rem;
	margin: 32px 0;
}