

#header-main{
	// @include flex(justify-center);
	display: block;
	height: calc(100vh - 2rem);
	background: $suorange;
	transition: .75s background-color;
	overflow: hidden;
	position: relative;
@include breakpoint(md){
	height: calc(100vh);
}
&.header-open{ // timeout function in app.js
	.header-image{
		height: calc(100% - 15rem);
	}
}
	.header-image{
		width: 100%;
		height: calc(100% - 20rem);
		transition: 2s height;
		bottom: 0;
		position: absolute;
		object-fit: cover;
	}
	h1#header-title{
		position: fixed;
		top: 7rem;
		margin: 0;
		// right: 0;
		width: 100%;
		padding: 0 2rem 0 2rem;
		font-size: 40px;
		line-height: 40px;
		text-align: right;
		color: white;
	@include breakpoint(sm){
		padding: 0 4rem 0 4rem;
	@include breakpoint(md){
		// background: blue;
		font-size: 3rem!important;
		line-height: 3rem!important;
		top: 2rem;
		right: 2rem;
		width: calc(50%);
		padding: 0;
	@include breakpoint(md){
		right: 4rem;
		top: 4rem;
	}}}}
}

.navOpen #header-main {
	background: $sulgray!important;
	h1#header-title{
		color: $suorange;
	}
}
