#nav-menu {
	position: fixed !important;
	top: 0;
	width: calc(100% - 64px);
	margin: 0 32px;
	border-top: 0;
	overflow: hidden;
	@include breakpoint(sm) {
		width: calc(100% - 128px) !important;
		margin: 0 64px;
	}
	@include breakpoint(md) {
		@include flex(row);
		margin: 32px 0 0 32px;
		// margin-right: 0;
		height: 16em;
		width: 340px;
		overflow: auto;
		background-color: transparent;

	}
	@include breakpoint(lg) {
		margin: 4rem 0 0 4rem;
	}
	// &:hover {
	// 	@include breakpoint(md) {
	// 		width: calc(100% - 4rem) !important;
	// 	}
	// 	@include breakpoint(lg) {
	// 		width: calc(100% - 8rem) !important;
	// 	}
	// }
	#menu-top {
		@include flex(row, align-center, space-between);
		width: 100%;
		height: 65px;
		background-color: white;
		border: 2px solid $suorange;
		border-top: 0;
		@include breakpoint(md) {
			flex: 0 0 15rem;
			border: 2px solid $suorange;
			height: 67px;
		}
		img#logo {
			height: 32px;
			padding: 4px 0 0 24px;
		}
		button#hamburger {
			width: 65px;
			height: 65px;
			border-left: 2px solid $suorange;
			font-size: 24px;
			color: $suorange;
			@include breakpoint(md) {display: none;}
		}
	}
	#menu-body {
		border-left: 2px solid $suorange;
		border-right: 2px solid $suorange;
		height: 0;
		transition: 0s width;
		background: $sulgray;
		overflow: hidden;
		transition: height .25s;
		@include breakpoint(md) {
			width: 0;
			overflow: auto !important;
			@include flex(row-reverse);
			border: 2px solid $suorange;
			border-top: 0px !important;
			flex: 1;
			margin-left: -2px;
			transition: none;
			@include breakpoint(lg) {}
		}
		#body-header {
			@include breakpoint(md) {
				background: $sudgray;
				height: calc(100%);
				width: 50%;
				border-left: 2px solid $suorange;
			}
			& > img {
				@include flex(column, align-center, justify-center);
				width: 100%;
				height: 25vh;
				overflow: hidden;
				object-fit: cover;
				@include breakpoint(sm) {height: 240px;}
				@include breakpoint(md) {height: 100% !important;}
			}
			& > div {
				height: 45px;
				line-height: 45px;
				vertical-align: middle;
				padding: 0 24px;
				background: $suorange;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: .15rem;
				color: white;
				@include breakpoint(md) {display: none;}
			}
			& > h2 {
				margin: 0;
				font-size: 32px;
				line-height: 32px;
				color: $suorange;
				padding: 32px;
				background: white;
				p {margin: 0;}
			}
		}
		#body-list {
			margin-bottom: 10rem;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: .15rem;
			@include breakpoint(md) {
				width: 50%;
				margin: 0;
				border-bottom: 0;
				overflow: auto;
				overflow-y: scroll;
				scrollbar-width: none;
				-ms-overflow-style: none;
				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
			> li {
				> div {
					border-bottom: 2px solid $suorange;
					@include flex(row);
					background: white;
					color: $suorange;
					justify-content: space-between;
					cursor: pointer;
					>a{
						height: 4rem;
						width: calc(100% - 4rem);
						border-right: 2px solid $suorange;
						@include flex(row, align-center);
						padding-left: 24px;
						vertical-align: middle;
					}
					> div {
						height: 100%;
						line-height: 4rem;
						width: 4rem;
						text-align: center;
						font-size: 2rem;
						font-weight: 100;
					}
				}
				li{
					line-height: 4rem;
					vertical-align: middle;
					color: $sudgray;
					font-size: 12px;
					padding: 0 24px;
					height: 0px;
					overflow: hidden;
					&.open{
						border-bottom: 1px solid $sumgray;
						height: 4rem;
					}
				}
			}
		}
	}
	#tabs {
		@include flex(row);
		position: fixed;
		width: calc(100% - 4rem);
		color: $suorange;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .15rem;
		bottom: -70px;
		transition: .75s bottom;
		border: 2px solid $suorange;
		border-bottom: 0;
		&::after{
			content: '';
			position: absolute;
			left: 50%;
			width: 2px;
			height: 4rem;
			background: $suorange;
		}
		@include breakpoint(sm) {
			width: calc(100% - 8rem);
		}
		@include breakpoint(md) {
			@include flex(column);
			width: 240px;
			position: fixed;
			display: block;
			top: calc(32px + 67px);
			left: 32px;
			bottom: calc(100vh);
			border-top: 0;
			border: 0;
			height: 12rem;
			> div.selected{
				display: flex!important;
			}
		}
		@include breakpoint(lg) {
			left: 64px;
			top: calc(64px + 67px) !important;
		}
		> div {
			@include flex(row, align-center, justify-center);
			height: 4rem;
			flex: 1;
			background: white;
			&.selected{
				display: none;
			}
			@include breakpoint(md) {
				@include flex(row);
				justify-content: flex-start;
				flex: 0 0 64px;
				padding-left: 24px;
				border-right: 2px solid $suorange;
				border-left: 2px solid $suorange;
				
			}
		}
	}
}
.navOpen #nav-menu{
	#tabs {
		bottom: 0;
		@include breakpoint(md) {
			.hidden {
				display: block;
			}
		}
		.hidden {
			display: none;
		}
		& .selected {
			color: white;
			background: $suorange;
		}

	}
	#menu-body {
		height: calc(100vh - 4rem);
		overflow-y: scroll;
		@include breakpoint(md) {
			border: 2px solid $suorange;
			height: calc(100vh - 64px);
			width: calc(100vw - 0px - 240px)!important;
		}
		@include breakpoint(lg) {
			height: calc(100vh - 128px);
		}
	}
}