.ui-view {
	padding: 0 2rem;
	overflow: hidden;
	@include breakpoint(sm) {
		padding: 0 4rem;
	}
	@include breakpoint(md) {
		padding: 0 4rem 0 19rem;
	}
	@include breakpoint(lg) {
		padding: 0 15rem 0 23rem;
	}
}